{
    // used for jest only. see rollup.config.js for the rollup babel config

    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "flow"
    ],
    "plugins": ["transform-object-rest-spread"]
}
